body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 40px;
}

ol {
  padding-left: 25px;
}

li {
  margin: 12px 0;
  color: #f1f1f1;
  font-size: 18px;
}

ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

ul li {
  color: #9ecbff;
  font-size: 16px;
}

li:hover {
  color: #ff8c8c;
  cursor: pointer;
}
